# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# NextAuth
NEXTAUTH_URL=""
NEXTAUTH_SECRET=""
NEXTAUTH_URL_PROD=""

#Supabase
PW=""
NEXT_PUBLIC_SUPABASE_URI=""
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

#Hubspot
HUBSPOT_CLIENT_ID=""
HUBSPOT_CLIENT_SECRET=""

#Google
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

#AWS S3
NEXT_PUBLIC_S3_AWS_ACCESS_KEY_ID=""
NEXT_PUBLIC_S3_AWS_SECRET_ACCESS_KEY=""
NEXT_PUBLIC_S3_BUCKET_NAME=""

#OpenAI
OPENAI_API_KEY=""


#Stripe
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SIGNING_SECRET=""
NEXT_BASE_URL=""
NEXT_BASE_URL_PROD=""